/* 
    Colors
    #4fa1f2; #ffc85c; #192734 

*/
body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#192734;
    color: #ffc85c;
}